
body{
    background-color: black;
    color: white;
}

.grid-item{
    border: 1px solid white;
}

.container1{
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container2{
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}

.container3{
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
}