<div class="container">

  <h1 class="text-center text-success"> Demo for ChartJs : </h1>

  <div class="row">

    <div class="container col col-5 m-2">
      <div class="card ">
        <h1 class="text-center text-danger"> Chart 1 : Basic </h1>
        <app-basic></app-basic>
      </div>
    </div>

    <div class="container col col-5 m-2 ">
      <div class="card ">
        <h1 class="text-center text-danger"> Chart 2 : Pie </h1>
        <app-pie></app-pie>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="card col col-5 m-5">
      <h1 class="text-center text-danger"> Chart 3 : Doughnut </h1>
      <app-doungnut></app-doungnut>
    </div>
  </div>

</div>
